@page
@model Eksamensprojekt_1_semester.Pages.Events.CreateEventsModel
@{
}
<form method="post">
     <div class="form-group" hidden ="@true">
        <label for="Event_Id">Id</label>
        <input asp-for="Event.Id" class="form-control" />
        <span asp-validation-for="Event.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Event_Name">Navn</label>
        <input asp-for="Event.Name" class="form-control" />
        <span asp-validation-for="Event.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Event_Type">Type</label>
        <input asp-for="Event.Type" class="form-control" />
        <span asp-validation-for="Event.Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Event.DateStart" class="control-label">Dato start</label>
        <input asp-for="Event.DateStart" type="date" class="form-control" />
        <span asp-validation-for="Event.DateStart" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Event.DateEnd" class="control-label">Dato slut</label>
        <input asp-for="Event.DateEnd" type="date" class="form-control" />
        <span asp-validation-for="Event.DateEnd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Event_Price">Pris</label>
        <input asp-for="Event.Price" class="form-control" />
        <span asp-validation-for="Event.Price" class="text-danger"></span>
    </div>
    <p>
        <div class="form-group">
            <input type="submit" value="Opret begivenhed" class="btn btn-primary" />
        </div>
    </p>
</form>

