@page
@model Eksamensprojekt_1_semester.Pages.Boats.CreateBoatModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="Boat.Type" class="control-label">Type</label>
        <input asp-for="Boat.Type" class="form-control" />
        <span asp-validation-for="Boat.Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Boat.Size" class="control-label">Størrelse</label>
        <input asp-for="Boat.Size" class="form-control" />
        <span asp-validation-for="Boat.Size" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Boat.PricePerDay" class="control-label">Pris pr. dag</label>
        <input asp-for="Boat.PricePerDay" class="form-control" />
        <span asp-validation-for="Boat.PricePerDay" class="text-danger"></span>
    </div>

    <p>
        <div class="form-group">
            <input type="submit" value="Opret" class="btn btn-primary" />
        </div>
    </p>
</form>
