@page "{id:int}"
@model Eksamensprojekt_1_semester.Pages.Boats.EditBoatModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="Boat.Id" class="control-label"></label>
        <input asp-for="Boat.Id" class="form-control" readonly="@(true)" />
    </div>
    <div class="form-group">
        <label asp-for="Boat.Type" class="control-label"></label>
        <input asp-for="Boat.Type" class="form-control" />
        <span asp-validation-for="Boat.Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Boat.Size" class="control-label"></label>
        <input asp-for="Boat.Size" class="form-control" />
        <span asp-validation-for="Boat.Size" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Boat.PricePerDay" class="control-label"></label>
        <input asp-for="Boat.PricePerDay" class="form-control" />
        <span asp-validation-for="Boat.PricePerDay" class="text-danger"></span>
    </div>
    <p>
        <div class="form-group">
            <input type="submit" value="Opdater" class="btn btn-primary" />
        </div>
    </p>
</form>

<p>
    <a asp-page="/Boats/GetAllBoats">Tilbage til listen</a>
</p>
