body {
    /* The image used */
    background-image: url("../Boat.jpg");
    /* Full height */
    
    /* Center and scale the image nicely */
    background-position: revert;
    background-repeat: repeat;
    background-size: 500%;
}
