@page
@model Eksamensprojekt_1_semester.Pages.Bookings.CreateABookingModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="TheBooking.Name" class="control-label">Navn</label>
        <input asp-for="TheBooking.Name" class="form-control" />
        <span asp-validation-for="TheBooking.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TheBooking.Destination" class="control-label">Destination</label>
        <input asp-for="TheBooking.Destination" class="form-control" />
        <span asp-validation-for="TheBooking.Destination" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TheBooking.DateStart" class="control-label">Dato start</label>
        <input asp-for="TheBooking.DateStart" type="date" class="form-control" />
        <span asp-validation-for="TheBooking.DateStart" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TheBooking.DateEnd" class="control-label">Dato slut</label>
        <input asp-for="TheBooking.DateEnd" type="date" class="form-control" />
        <span asp-validation-for="TheBooking.DateEnd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TheBookedBoat.Type" class="control-label"></label>
        <input asp-for="TheBookedBoat.Type" class="form-control" readonly="@true"/>
       
    </div>
    <div class="form-group">
        <label asp-for="TheBookedBoat.PricePerDay" class="control-label"></label>
        <input asp-for="TheBookedBoat.PricePerDay" class="form-control" readonly="@true" />
       
    </div>
    <div class="form-group">
        <label asp-for="TheBookedBoat.Size" class="control-label"></label>
        <input asp-for="TheBookedBoat.Size" class="form-control" readonly="@true" />

    </div>

    <p>
        <div class="form-group">
            <input type="submit" value="Opret" class="btn btn-primary" />
        </div>
    </p>
</form>
<p>
    <a asp-page="BookABoat">Tilbage til listen</a>
</p>