@page
@model Eksamensprojekt_1_semester.Pages.PHBådemedbeskrivelserModel
@{
    ViewData["title"] = "Vores både";
}
<head >
    <h1 >@ViewData["title"]</h1>
</head>

<body>
    <p>
        Hillerød Sejlklub er en klub for jollesejlere.
        Vi har altid plads til børn og voksne, som vil sejle for deres fornøjelses skyld, for det sociale samvær, og evt. selv medvirke eller støtte andre sejlere i konkurrencesejlads.
    </p>
    @foreach (var båd in Model.Boats)
    {
        <div class="card">
            <div class="container">
                <h4><b>@båd.Type</b></h4>
                <p>Indsæt reference til beskrivelse af båd her</p>
                <b>Specifikationer:</b>
                <p>Størrelse: @båd.Size</p>
            </div>
        </div>
    }
</body>
