@page
@model Eksamensprojekt_1_semester.Pages.BoatMaintenance.MaintenanceLogModel
@{
}

<h1>Vedligeholdelseslog</h1>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>
				Type
			</th>
			<th>
				Antal reparationer
			</th>
			<th>
				Alder
			</th>
			<th>
                Senest vedligeholdt/synet
            </th>
		</tr>
	</thead>
	<tbody>
		@if (Model.MaintenanceLogs != null)
		{
			foreach (var log in Model.MaintenanceLogs)
			{
				<tr>
					<td>
						@log.Type
					</td>
					<td>
						@log.RepairCount
					</td>
					<td>
						@log.Age år
					</td>
					<td>
						@log.LastServiced
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<p>
    <a asp-page="/BoatMaintenance/CreateLog" class="btn btn-primary">Opret ny log</a>
</p>

